*{
	margin: 0;
	padding: 0;
}
body{
	background-image: linear-gradient(to left bottom ,hotpink,cyan);
	background-repeat: no-repeat;
	background-size:cover;
}
.pk{
   margin-top: 150px;
   margin-left: 500px;
   margin-bottom: 55px;
}
.pk{
	height: 730px;
	width:1000px;
	border: 2px solid whitesmoke;
	border-radius: 13px;
	text-align: center;
	background-color: transparent;
}
.pk h1{
	color: white;
	font-size: 110px;
	margin-top:120px;

}
.pk p{
	font-size: 42px;
		font-family: calibri;
}
.pk1{
	font-family: Calibri Light;

}
.pk2{
	padding-left: 12px;
}
.pk2 a{
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 32px;
	padding: 6px;
}
.pk2 a:hover{
color: white;
background-color: cyan;
}